<h2>Sales</h2>
  <ul class="sales_list">

  </ul>

  <h2>Purchases</h2>
  <ul class="purchases_list">

  </ul>
  <div>
    <button id="transaction_filter_button">filter</button>
  </div>
  <div>
    <label for="form">Filter by name</label>
    <input type="text" id="name_filter" placeholder="name">
    <button id="filter_button">filter</button>
  </div>