<h2>Sales</h2>
  <ul class="sales">

  </ul>

  <h2>Purchases</h2>
  <ul class="purchases">

  </ul>
  <div>
    <label for="form">Filter by name</label>
    <input type="text" id="name_filter" placeholder="name">
    <button id="filter_button">filter</button>
  </div>
<button id="fetch_new_sale_form" type="button" name="button">New Sale</button>
<button id="fetch_new_purchase_form" type="button" name="button">New Purchase</button>
<div class="new_sales">
</div>
